source https://api.nuget.org/v3/index.json

storage:none

nuget Fabulous
nuget Fabulous.XamarinForms

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4.64.6